.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .buttons>* {
        margin-right: 14px;
    }

        .buttons {
            display: flex;
    
        }
}